<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

 <mapper namespace="Authority-Mapper">
 	<resultMap type="authority" id="authorityMap">
 		<result property="id" column="MNG_ID" />
 		<result property="menuId" column="MENU_ID" />
 	</resultMap>

	<select id="selectAuthorityById" parameterType="str" resultMap="authorityMap">
		select *
		 from authority
		where MNG_ID = #{id}
	</select>
	
	<insert id="insertAuthority" parameterType="java.util.Map">
		<foreach collection="authorityList" item="item" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
			INTO authority(MNG_ID, MENU_ID)
			VALUES (#{id},#{item})
		</foreach>
	</insert>
	
	<delete id="deleteOldAuthority" parameterType="java.util.Map">
		delete from authority
		where MNG_ID = #{id}
	</delete>
	
	<select id="checkCountAuthority" parameterType="str" resultType="int">
		SELECT COUNT(*) FROM AUTHORITY
 		 WHERE MNG_ID = #{value}
	</select>
 </mapper>