<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="KakaoSend-Mapper">
	
	<resultMap type="kakaoSend" id="kakaoSendMap">
		<result property="kakaoSendId" column="KAKAO_SEND_ID"/>
		<result property="mngId" column="MNG_ID"/>
		<result property="kakaoSendContent" column="KAKAO_SEND_CONTENT"/>
		<result property="kakaoSendDate" column="KAKAO_SEND_DATE"/>
		<result property="kakaoReceiverName" column="KAKAO_RECEIVER_NAME"/>
		<result property="kakaoSendTitle" column="KAKAO_SEND_TITLE"/>
		<result property="kakaoSendType" column="KAKAO_SEND_TYPE"/>
		<result property="kakaoReceiverHp" column="KAKAO_RECEIVER_HP"/>
		<result property="kakaoReceiverEmail" column="KAKAO_RECEIVER_EMAIL"/>
		<result property="kakaoReceiverType" column="KAKAO_RECEIVER_TYPE"/>
	</resultMap>
	
	<insert id="insertSendList" parameterType="java.util.Map">
		insert into KAKAO_SEND
		(KAKAO_SEND_ID
		,KAKAO_RECEIVER_NAME ,KAKAO_SEND_CONTENT
		,KAKAO_SEND_DATE ,MNG_ID
		,KAKAO_SEND_TITLE ,KAKAO_SEND_TYPE
		,KAKAO_RECEIVER_HP ,KAKAO_RECEIVER_EMAIL
		,KAKAO_RECEIVER_TYPE)
		select KAKAO_SEND_SEQ.nextval, A.* from(
			<foreach collection="messageGroupList" item="item" separator="UNION ALL">
				 select #{item.kakaoReceiverName},#{kakaoSendContent}
				 ,sysdate,#{mngId}
				 ,#{kakaoSendTitle},#{kakaoSendType}
				 ,#{item.kakaoReceiverHp},#{item.kakaoReceiverEmail}
				 ,#{item.kakaoReceiverType}
				 from dual
			</foreach>
		)A
	</insert>
	
	<select id="selectKakaoSendList" parameterType="str" resultType="kakaoSend">
		select KAKAO_SEND_ID as kakaoSendId
			,KAKAO_RECEIVER_NAME as kakaoReceiverName
			,KAKAO_SEND_CONTENT as kakaoSendContent
			,KAKAO_SEND_DATE as kakaoSendDate
			,MNG_ID as mngId
			,KAKAO_SEND_TITLE as kakaoSendTitle
			,KAKAO_SEND_TYPE as kakaoSendType
			,KAKAO_RECEIVER_HP as kakaoReceiverHp
			,KAKAO_RECEIVER_EMAIL as kakaoReceiverEmail
			,KAKAO_RECEIVER_TYPE as kakaoReceiverType
		from KAKAO_SEND
		where KAKAO_SEND_ID is not null
		<if test="keyword != null">
				and (KAKAO_SEND_ID like '%'||#{keyword}||'%'
					or KAKAO_RECEIVER_NAME like '%'||#{keyword}||'%'
					or KAKAO_SEND_CONTENT like '%'||#{keyword}||'%'
					or KAKAO_SEND_DATE like '%'||#{keyword}||'%'
					or MNG_ID  like '%'||#{keyword}||'%'
					or KAKAO_SEND_TITLE like '%'||#{keyword}||'%'
					or KAKAO_SEND_TYPE like '%'||#{keyword}||'%'
					or KAKAO_RECEIVER_HP like '%'||#{keyword}||'%'
					or KAKAO_RECEIVER_TYPE like '%'||#{keyword}||'%')
		</if>
		order by KAKAO_SEND_DATE desc	
	</select>
	
	<select id="selectKakaoSendListTotalCount" resultType="int">
		select count(*)
		from (select KAKAO_SEND_ID as kakaoSendId
			,KAKAO_RECEIVER_NAME as kakaoReceiverName
			,KAKAO_SEND_CONTENT as kakaoSendContent
			,KAKAO_SEND_DATE as kakaoSendDate
			,MNG_ID as mngId
			,KAKAO_SEND_TITLE as kakaoSendTitle
			,KAKAO_SEND_TYPE as kakaoSendType
			,KAKAO_RECEIVER_HP as kakaoReceiverHp
			,KAKAO_RECEIVER_EMAIL as kakaoReceiverEmail
			,KAKAO_RECEIVER_TYPE as kakaoReceiverType
		from KAKAO_SEND
		where KAKAO_SEND_ID is not null
		<if test="keyword != null">
				and (
					KAKAO_RECEIVER_NAME like '%'||#{keyword}||'%'
					or KAKAO_SEND_CONTENT like '%'||#{keyword}||'%'
					or KAKAO_SEND_DATE like '%'||#{keyword}||'%'
					or MNG_ID like '%'||#{keyword}||'%'
					or KAKAO_SEND_TITLE like '%'||#{keyword}||'%'
					or KAKAO_SEND_TYPE like '%'||#{keyword}||'%'
					or KAKAO_RECEIVER_HP like '%'||#{keyword}||'%'
					or KAKAO_RECEIVER_TYPE like '%'||#{keyword}||'%')
		</if>
			)
	</select>
</mapper>
