<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MariaNotice-Mapper">
	
		<select id="selectNoticeList" parameterType="school" resultType="notice">
			SELECT 	CRAWLING_ID AS noticeId,
			CRAWLING_DATE AS noticeRegdate,
			       CRAWLING_TITLE AS noticeTitle,
			       CRAWLING_CONTENT AS noticeContent,
			       CRAWLING_CONTENTURL AS contentUrl
			  FROM SCHOOL_CRAWLING
			 WHERE CRAWLING_URL LIKE #{schoolURL}
			 		<if test="schoolDong!=null and !schoolDong.equals('')">
					and (
					CRAWLING_TITLE like #{schoolDong}
					or
					CRAWLING_DATE like #{schoolDong}						
					)			
			 		</if>
			 ORDER BY 2 DESC
		</select>
		
		
		
		<select id="selectNoticeList2" parameterType="str" resultType="notice">
			SELECT 	CRAWLING_ID AS noticeId,
			CRAWLING_DATE AS noticeRegdate,
			       CRAWLING_TITLE AS noticeTitle,
			       CRAWLING_CONTENT AS noticeContent,
			       CRAWLING_CONTENTURL AS contentUrl
			  FROM SCHOOL_CRAWLING
			 WHERE CRAWLING_URL LIKE #{schoolURL}
			 	
			 ORDER BY 2 DESC
		</select>
		
		
		<select id="selectNoticeDetail" parameterType="notice" resultType="notice">
			SELECT 	CRAWLING_ID AS noticeId,
			CRAWLING_DATE AS noticeRegdate,
			       CRAWLING_TITLE AS noticeTitle,
			       CRAWLING_CONTENT AS noticeContent,
			       CRAWLING_CONTENTURL AS contentUrl
			  FROM SCHOOL_CRAWLING
			 WHERE CRAWLING_ID = #{noticeId}
		</select>
		
</mapper>
