<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Menu-Mapper">
	
	<select id="selectMenuList" resultType="menu">
		SELECT MENU_ID as menuId,
			   MENU_NAME as menuName,
			   MENU_URL as menuUrl,
			   MENU_ICON as menuIcon,
			   MENU_UPCODE as menuUpcode,
			   MENU_LEVEL as menuLevel,
			   MENU_CATEGORY as menuCategory,
			   MENU_HASCHILD as menuHaschild,
			   ','||CHR(39)||MENU_ID||CHR(39)||')' as temp
		  FROM MENU
		 WHERE MENU_LEVEL = 1
		 ORDER BY MENU_ID
	</select>
	
	
	<select id="selectStudentMenuList" resultType="menu">
		SELECT MENU_ID as menuId,
			   MENU_NAME as menuName,
			   MENU_URL as menuUrl,
			   MENU_ICON as menuIcon,
			   MENU_UPCODE as menuUpcode,
			   MENU_LEVEL as menuLevel,
			   MENU_CATEGORY as menuCategory,
			   MENU_HASCHILD as menuHaschild,
			   ','||CHR(39)||MENU_ID||CHR(39)||')' as temp
		  FROM MENU
		 WHERE MENU_LEVEL = 1
		   AND MENU_CATEGORY LIKE '%STUDENT%'
		 ORDER BY MENU_ID
	</select>
	
	<select id="selectStudentSubMenuList" parameterType="str" resultType="menu">
		SELECT MENU_ID as menuId,
			   MENU_NAME as menuName,
			   MENU_URL as menuUrl,
			   MENU_ICON as menuIcon,
			   MENU_UPCODE as menuUpcode,
			   MENU_LEVEL as menuLevel,
			   MENU_CATEGORY as menuCategory,
			   MENU_HASCHILD as menuHaschild,
			   ','||CHR(39)||MENU_ID||CHR(39)||')' as temp
		  FROM MENU
		 WHERE MENU_LEVEL = 2
		   AND MENU_CATEGORY LIKE '%STUDENT%'
UNION
        SELECT A.MENU_ID as menuId,
			   A.MENU_NAME as menuName,
			   A.MENU_URL as menuUrl,
			   A.MENU_ICON as menuIcon,
			   C.MENU_ID as menuUpcode,
			   A.MENU_LEVEL as menuLevel,
			   A.MENU_CATEGORY as menuCategory,
			   A.MENU_HASCHILD as menuHaschild,
			   ','||CHR(39)||A.MENU_ID||CHR(39)||')' as temp
		  FROM MENU A, FAVORITES B,
               (SELECT MENU_ID
                  FROM MENU
                 WHERE MENU_NAME LIKE '%즐%'
                   AND MENU_CATEGORY LIKE '%STUDENT%') C
		 WHERE A.MENU_ID = B.MENU_ID
		   AND A.MENU_CATEGORY LIKE '%STUDENT%'
           AND B.USER_ID = #{value}
		 ORDER BY 1
	</select>
	
	<select id="selectParentMenuList" resultType="menu">
		SELECT MENU_ID as menuId,
			   MENU_NAME as menuName,
			   MENU_URL as menuUrl,
			   MENU_ICON as menuIcon,
			   MENU_UPCODE as menuUpcode,
			   MENU_LEVEL as menuLevel,
			   MENU_CATEGORY as menuCategory,
			   MENU_HASCHILD as menuHaschild,
			   ','||CHR(39)||MENU_ID||CHR(39)||')' as temp
		  FROM MENU
		 WHERE MENU_LEVEL = 1
		   AND MENU_CATEGORY LIKE '%PARENT%'
		 ORDER BY MENU_ID
	</select>
	
	<select id="selectParentSubMenuList" parameterType="str" resultType="menu">
		SELECT MENU_ID as menuId,
			   MENU_NAME as menuName,
			   MENU_URL as menuUrl,
			   MENU_ICON as menuIcon,
			   MENU_UPCODE as menuUpcode,
			   MENU_LEVEL as menuLevel,
			   MENU_CATEGORY as menuCategory,
			   MENU_HASCHILD as menuHaschild,
			   ','||CHR(39)||MENU_ID||CHR(39)||')' as temp
		  FROM MENU
		 WHERE MENU_LEVEL = 2
		   AND MENU_CATEGORY LIKE '%PARENT%'
UNION
        SELECT A.MENU_ID as menuId,
			   A.MENU_NAME as menuName,
			   A.MENU_URL as menuUrl,
			   A.MENU_ICON as menuIcon,
			   C.MENU_ID as menuUpcode,
			   A.MENU_LEVEL as menuLevel,
			   A.MENU_CATEGORY as menuCategory,
			   A.MENU_HASCHILD as menuHaschild,
			   ','||CHR(39)||A.MENU_ID||CHR(39)||')' as temp
		  FROM MENU A, FAVORITES B,
               (SELECT MENU_ID
                  FROM MENU
                 WHERE MENU_NAME LIKE '%즐%'
                   AND MENU_CATEGORY LIKE '%PARENT%') C
		 WHERE A.MENU_ID = B.MENU_ID
		   AND A.MENU_CATEGORY LIKE '%PARENT%'
           AND B.USER_ID = #{value}
		 ORDER BY 1
	</select>
	
	<select id="selectManagerMainMenu" resultType="menu">
		SELECT MENU_ID as menuId,
	           MENU_NAME as menuName,
	           MENU_URL as menuUrl,
	           MENU_ICON as menuIcon,
	           MENU_UPCODE as menuUpcode,
	           MENU_LEVEL as menuLevel,
	           MENU_CATEGORY as menuCategory,
	           MENU_HASCHILD as menuHaschild,
	            ','||CHR(39)||MENU_ID||CHR(39)||')' as temp
	        FROM MENU
	       WHERE MENU_LEVEL = 1
	         AND MENU_CATEGORY LIKE '%MANAGER%'
	       ORDER BY MENU_ID
	</select>
	<select id="selectManagerMenuListByUserId" parameterType="str" resultType="menu">
		SELECT A.MENU_ID as menuId,
	            A.MENU_NAME as menuName,
	            A.MENU_URL as menuUrl,
	            A.MENU_ICON as menuIcon,
	            A.MENU_UPCODE as menuUpcode,
	            A.MENU_LEVEL as menuLevel,
	            A.MENU_CATEGORY as menuCategory,
	            A.MENU_HASCHILD as menuHaschild,
	            ','||CHR(39)||A.MENU_ID||CHR(39)||')' as temp
	        FROM MENU A, AUTHORITY B
	       WHERE MENU_LEVEL = 1
	         AND MENU_CATEGORY LIKE '%MANAGER%'
	         AND A.MENU_ID = B.MENU_ID
	         AND B.MNG_ID = #{value}
	       ORDER BY A.MENU_ID
	</select>
	
	<select id="selectManagerSubMenuList" parameterType="str" resultType="menu">
		SELECT MENU_ID as menuId,
			   MENU_NAME as menuName,
			   MENU_URL as menuUrl,
			   MENU_ICON as menuIcon,
			   MENU_UPCODE as menuUpcode,
			   MENU_LEVEL as menuLevel,
			   MENU_CATEGORY as menuCategory,
			   MENU_HASCHILD as menuHaschild,
			   ','||CHR(39)||MENU_ID||CHR(39)||')' as temp
		  FROM MENU
		 WHERE MENU_LEVEL = 2
		   AND MENU_CATEGORY LIKE '%MANAGER%'
UNION
        SELECT A.MENU_ID as menuId,
			   A.MENU_NAME as menuName,
			   A.MENU_URL as menuUrl,
			   A.MENU_ICON as menuIcon,
			   C.MENU_ID as menuUpcode,
			   A.MENU_LEVEL as menuLevel,
			   A.MENU_CATEGORY as menuCategory,
			   A.MENU_HASCHILD as menuHaschild,
			   ','||CHR(39)||A.MENU_ID||CHR(39)||')' as temp
		  FROM MENU A, FAVORITES B,
               (SELECT MENU_ID
                  FROM MENU
                 WHERE MENU_NAME LIKE '%즐%'
                   AND MENU_CATEGORY LIKE '%MANAGER%') C
		 WHERE A.MENU_ID = B.MENU_ID
		   AND A.MENU_CATEGORY LIKE '%MANAGER%'
           AND B.USER_ID = #{value}
		 ORDER BY 1	
	</select>	
	
	<select id="selectStudentFavoriteMenuList" parameterType="str" resultType="menu">
		SELECT A.MENU_ID as menuId,
			   A.MENU_NAME as menuName,
			   A.MENU_URL as menuUrl,
			   A.MENU_ICON as menuIcon,
			   C.MENU_ID as menuUpcode,
			   A.MENU_LEVEL as menuLevel,
			   A.MENU_CATEGORY as menuCategory,
			   A.MENU_HASCHILD as menuHaschild
		  FROM MENU A, FAVORITES B,
               (SELECT MENU_ID
                  FROM MENU
                 WHERE MENU_NAME LIKE '%즐%'
                   AND MENU_CATEGORY LIKE '%STUDENT%') C
		 WHERE A.MENU_ID = B.MENU_ID
		   AND A.MENU_CATEGORY LIKE '%STUDENT%'
           AND B.USER_ID = #{value}
		 ORDER BY 1
	</select>
	
	<select id="selectParentFavoriteMenuList" parameterType="str" resultType="menu">
		SELECT A.MENU_ID as menuId,
			   A.MENU_NAME as menuName,
			   A.MENU_URL as menuUrl,
			   A.MENU_ICON as menuIcon,
			   C.MENU_ID as menuUpcode,
			   A.MENU_LEVEL as menuLevel,
			   A.MENU_CATEGORY as menuCategory,
			   A.MENU_HASCHILD as menuHaschild
		  FROM MENU A, FAVORITES B,
               (SELECT MENU_ID
                  FROM MENU
                 WHERE MENU_NAME LIKE '%즐%'
                   AND MENU_CATEGORY LIKE '%%PARENT%%') C
		 WHERE A.MENU_ID = B.MENU_ID
		   AND A.MENU_CATEGORY LIKE '%PARENT%'
           AND B.USER_ID = #{value}
		 ORDER BY 1
	</select>
	
	<select id="selectManagerFavoriteMenuList" parameterType="str" resultType="menu">
	
		SELECT A.MENU_ID as menuId,
			   A.MENU_NAME as menuName,
			   A.MENU_URL as menuUrl,
			   A.MENU_ICON as menuIcon,
			   C.MENU_ID as menuUpcode,
			   A.MENU_LEVEL as menuLevel,
			   A.MENU_CATEGORY as menuCategory,
			   A.MENU_HASCHILD as menuHaschild
		  FROM MENU A, FAVORITES B,
               (SELECT MENU_ID
                  FROM MENU
                 WHERE MENU_NAME LIKE '%즐%'
                   AND MENU_CATEGORY LIKE '%MANAGER%') C
		 WHERE A.MENU_ID = B.MENU_ID
		   AND A.MENU_CATEGORY LIKE '%MANAGER%'
           AND B.USER_ID = #{value}
		 ORDER BY 1
	</select>
	
	<select id="selectManagerNotAuthorityMenuList" parameterType="str" resultType="menu">
		select a.menu_name as menuName, a.menu_id as menuId
		from menu a
		where a.MENU_LEVEL = '1'
		and menu_category LIKE '%MANAGER%'
		minus
		select a.menu_name, c.menu_id
		from menu a, manager b, authority c
		where c.mng_id = b.mng_id
		and c.menu_id = a.menu_id
		and c.mng_id = #{id}
	</select>
	
	<select id="selectManagerAuthorityMenuList" parameterType="str" resultType="menu">
		select a.menu_name as menuName, c.menu_id as menuId
		from menu a, manager b, authority c
		where c.mng_id = b.mng_id
		and c.menu_id = a.menu_id
		and c.mng_id = #{id}
	</select>

	<select id="selectMenuId" parameterType="str" resultType="str">
	
	SELECT *
	  FROM (
	        SELECT MENU_ID
	          FROM MENU
	         WHERE MENU_NAME = #{menuName})
	 WHERE ROWNUM =1
		
	</select>
	
	<select id="selectMenuByMcode" resultType="menu">
		SELECT MENU_ID as menuId,
			   MENU_NAME as menuName,
			   MENU_URL as menuUrl,
			   MENU_ICON as menuIcon,
			   MENU_UPCODE as menuUpcode,
			   MENU_LEVEL as menuLevel,
			   MENU_CATEGORY as menuCategory,
			   MENU_HASCHILD as menuHaschild,
			   ','||CHR(39)||MENU_ID||CHR(39)||')' as temp
          FROM MENU
         WHERE MENU_ID = #{mName}
	</select>
	
	<select id="selectSubMenuList" parameterType="str" resultType="menu">
		SELECT MENU_ID as menuId, 
			  MENU_NAME as menuName
			FROM MENU
			WHERE MENU_ID = #{menuId}
			 OR MENU_UPCODE = #{menuId}
			 ORDER BY MENU_ID
	</select>
	
	<update id="updateMenuCategory" parameterType="java.util.Map">
		<foreach collection="menuInfoList" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
        	UPDATE MENU 
			   SET MENU_CATEGORY = #{item.category}
	         <where>
         	    MENU_ID =  #{item.menuId}
 			 OR MENU_UPCODE =  #{item.menuId}
	         </where>
    	</foreach>
	</update>
	
	
	<update id="updateMenuName" parameterType="java.util.Map">
		<foreach collection="subMenuList" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE MENU 
			   SET MENU_NAME = #{item.menuName}
			 WHERE MENU_ID = #{item.menuId} 
    	</foreach>
	</update>
	
	<select id="selectMenuNameByUrl" parameterType="str" resultType="str">
	
	
	SELECT MENU_NAME as menuName
	        
	FROM   MENU 
	WHERE SUBSTR(MENU_URL, INSTR(MENU_URL,'''',1,1)+1, INSTR(MENU_URL,'''',1,2)-INSTR(MENU_URL,'''',1,1)-1) = #{menuUrl}
		
	</select>
	
	
	<select id="selectMenuAllList" resultType="menu">
		SELECT MENU_NAME as menuName
		FROM MENU
		
	
	</select>
	
	<select id="selectMenuAllListStr" resultType="str">
		SELECT MENU_NAME as menuName
		FROM MENU
		
	
	</select>
	
	
</mapper>
