<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Parent-Mapper">
  
  	<resultMap type="parent" id="parentMap">
  		<result property="id" column="PARENT_ID" />
  		<result property="parentAlarmMethodCode" column="PARENT_ALARM_METHOD_CODE" />
  		<result property="parentName" column="PARENT_NAME" />
  		<result property="parentEmail" column="PARENT_EMAIL" />
  		<result property="pw" column="PARENT_PW" />
  		<result property="parentAlarmYn" column="PARENT_ALARM_YN" />
  		<result property="parentHp" column="PARENT_HP" />
  		<result property="parentAlarmGo" column="PARENT_ALARM_GO" />
  		<result property="parentAlarmOut" column="PARENT_ALARM_OUT" />
  		<result property="parentAlarmGetOn" column="PARENT_ALARM_GET_ON" />
  		<result property="parentAlarmGetOff" column="PARENT_ALARM_GET_OFF" />
  		<result property="parentDivisionCode" column="PARENT_DIVISION_CODE" />
  	</resultMap>
  	
  		<select id="selectParentById" parameterType="str" resultMap="parentMap">
		select
			PARENT_ID,
			PARENT_ALARM_METHOD_CODE,
			PARENT_NAME,
			PARENT_EMAIL,
			PARENT_PW,
			PARENT_ALARM_YN,
			PARENT_HP,
			PARENT_ALARM_GO,
			PARENT_ALARM_OUT,
			PARENT_ALARM_GET_ON,
			PARENT_ALARM_GET_OFF,
			PARENT_DIVISION_CODE
		from parent
		where parent_id=#{id}
		</select>
		
		<select id="selectParentByStudentId" parameterType="str" resultMap="parentMap">
			 select
				a.PARENT_ID as PARENT_ID,
				a.PARENT_ALARM_METHOD_CODE as PARENT_ALARM_METHOD_CODE,
				a.PARENT_NAME as PARENT_NAME,
				a.PARENT_EMAIL as PARENT_EMAIL,
				a.PARENT_PW as PARENT_PW,
				a.PARENT_ALARM_YN as PARENT_ALARM_YN,
				a.PARENT_HP as PARENT_HP,
				a.PARENT_ALARM_GO as PARENT_ALARM_GO,
				a.PARENT_ALARM_OUT as PARENT_ALARM_OUT,
				a.PARENT_ALARM_GET_ON as PARENT_ALARM_GET_ON,
				a.PARENT_ALARM_GET_OFF as PARENT_ALARM_GET_OFF,
				a.PARENT_DIVISION_CODE as PARENT_DIVISION_CODE
			from parent a, student b
			where a.parent_id = b.parent_id
	        and b.student_id = #{id}
		</select>
		
		<update id="insertParent" parameterType="parent">
			MERGE INTO PARENT
			USING dual
			ON (PARENT_ID = #{id})
	 		WHEN MATCHED THEN
	      		UPDATE SET PARENT_ALARM_METHOD_CODE = #{parentAlarmMethodCode},
	      				   PARENT_NAME = #{parentName}, 
	      				   PARENT_EMAIL = #{parentEmail}, 
	      				   PARENT_ALARM_YN = #{parentAlarmYn}, 
	      				   PARENT_HP = #{parentHp}, 
	      				   PARENT_ALARM_GO = #{parentAlarmGo}, 
	      				   PARENT_ALARM_OUT =#{parentAlarmOut},
	        			   PARENT_ALARM_GET_ON = #{parentAlarmGetOn},
	        			   PARENT_ALARM_GET_OFF = #{parentAlarmGetOff},
	        			   PARENT_DIVISION_CODE = #{parentDivisionCode} 
	 		WHEN NOT MATCHED THEN
	      		INSERT 
	      		(PARENT_ID, PARENT_PW, PARENT_ALARM_METHOD_CODE, PARENT_NAME, PARENT_EMAIL, PARENT_ALARM_YN, PARENT_HP, PARENT_ALARM_GO, PARENT_ALARM_OUT, 
				PARENT_ALARM_GET_ON, PARENT_ALARM_GET_OFF, PARENT_DIVISION_CODE)
				
				VALUES (#{id},#{pw},#{parentAlarmMethodCode},#{parentName},#{parentEmail},#{parentAlarmYn},#{parentHp},#{parentAlarmGo},#{parentAlarmOut},
				#{parentAlarmGetOn},#{parentAlarmGetOff},#{parentDivisionCode})
		</update>
  
	  	<update id="updatePwd" parameterType="str">
			UPDATE PARENT
			SET PARENT_PW = #{emailAddress}
				WHERE PARENT_ID = #{emailAddress}
		</update>
	  	
	  	<update id="modifyPwd" parameterType="parent">
			UPDATE PARENT
			SET PARENT_PW = #{pw}
				WHERE PARENT_ID = #{id}
		</update>
		
		<select id="selectParentList" parameterType="str" resultType="parent">
			 select a.parent_id as id
			        ,a.PARENT_ALARM_METHOD_CODE as parentAlarmMethodCode
			        ,a.PARENT_NAME as parentName
			        ,a.PARENT_EMAIL as parentEmail
			        ,a.PARENT_ALARM_YN as parentAlarmYn
			        ,a.PARENT_HP as parentHp
			        ,a.PARENT_ALARM_GO as parentAlarmGo
			        ,a.PARENT_ALARM_OUT as parentAlarmOut
			        ,a.PARENT_DIVISION_CODE as parentDivisionCode
			        ,b.student_name as childrenName
			        ,e.school_name as childrenSchoolName
			        ,f.SCODE_VALUE as childrenGradeCode
			        ,g.SCODE_VALUE as childrenGrade
			        ,d.class_name as childrenClassName
		   from parent a, student b, belong c, class d, school e,  STANDARDCODE f,  STANDARDCODE g
		   where a.parent_id = b.parent_id
		     and b.student_id = c.student_id
		     and c.class_id = d.class_id
		     and b.school_No = e.school_id
		     and b.STUDENT_GRADE_CATEGORY_CODE = f.SCODE_KEY
		     and b.STUDENT_GRADE = g.SCODE_KEY
		     <if test="keyword != null">
				and (<![CDATA[ a.parent_id ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_ALARM_METHOD_CODE]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_NAME ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_EMAIL ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_ALARM_YN ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_HP ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_ALARM_GO ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_ALARM_OUT ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_DIVISION_CODE ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ b.student_name ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ e.school_name ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ f.SCODE_VALUE ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ g.SCODE_VALUE ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ d.class_name ]]> like '%'||#{keyword}||'%')
			</if>
		     order by a.parent_name
		</select>
		
		<select id="selectParentListCount" resultType="int">
			select count(*)
			from (select a.parent_id as id
			        ,a.PARENT_ALARM_METHOD_CODE as parentAlarmMethodCode
			        ,a.PARENT_NAME as parentName
			        ,a.PARENT_EMAIL as parentEmail
			        ,a.PARENT_ALARM_YN as parentAlarmYn
			        ,a.PARENT_HP as parentHp
			        ,a.PARENT_ALARM_GO as parentAlarmGo
			        ,a.PARENT_ALARM_OUT as parentAlarmOut
			        ,a.PARENT_DIVISION_CODE as parentDivisionCode
			        ,b.student_name as childrenName
			        ,e.school_name as childrenSchoolName
			        ,f.SCODE_VALUE as childrenGradeCode
			        ,g.SCODE_VALUE as childrenGrade
			        ,d.class_name as childrenClassName
		   from parent a, student b, belong c, class d, school e,  STANDARDCODE f,  STANDARDCODE g
		   where a.parent_id = b.parent_id
		     and b.student_id = c.student_id
		     and c.class_id = d.class_id
		     and b.school_No = e.school_id
		     and b.STUDENT_GRADE_CATEGORY_CODE = f.SCODE_KEY
		     and b.STUDENT_GRADE = g.SCODE_KEY
		      <if test="keyword != null">
				and (<![CDATA[ a.parent_id ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_ALARM_METHOD_CODE]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_NAME ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_EMAIL ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_ALARM_YN ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_HP ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_ALARM_GO ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_ALARM_OUT ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ a.PARENT_DIVISION_CODE ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ b.student_name ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ e.school_name ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ f.SCODE_VALUE ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ g.SCODE_VALUE ]]> like '%'||#{keyword}||'%'
					or <![CDATA[ d.class_name ]]> like '%'||#{keyword}||'%')
			</if>
			)
		</select>
  
  </mapper>