<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Payment-Mapper">

  <resultMap type="payment" id="paymentMap">
       <result property="paymentId" column="PAYMENT_ID"/>
       <result property="paymentPrice" column="PAYMENT_PRICE"/>
       <result property="paymentDate" column="PAYMENT_DATE"/>
       <result property="parentId" column="PARENT_ID"/>
       <result property="lessonassignmentId" column="LESSONASSIGNMENT_ID"/>
       <result property="paymentDuedate" column="PAYMENT_DUEDATE"/>
       <result property="paymentMonths" column="PAYMENT_MONTHS"/>
       <result property="studentName" column="STUDENT_NAME"/>
       <result property="studentId" column="STUDENT_ID"/>
       <result property="lessonName" column="LESSON_NAME"/>
       <result property="lessonPrice" column="LESSON_PRICE"/>
       <result property="lessonId" column="LESSON_ID"/>
       <result property="mngHp" column="MNG_HP"/>
  </resultMap>
  





  		      
  		      
  	<select id="selectPStudent" parameterType="str" resultMap="paymentMap">
			SELECT A.STUDENT_NAME
      			  ,A.STUDENT_ID
   			 FROM STUDENT A, PARENT B
			WHERE A.PARENT_ID = B.PARENT_ID
  		      AND A.PARENT_ID = #{parentId}
  		      </select>

	<select id="selectPaymentList" parameterType="str" resultMap="paymentMap">
       SELECT D.STUDENT_NAME
             ,B.LESSON_NAME
             ,A.PAYMENT_DATE
             ,A.PAYMENT_PRICE
             ,B.LESSON_PRICE
             ,A.PAYMENT_MONTHS
        FROM PAYMENT A,LESSON B, LESSONASSIGNMENT C, STUDENT D
       WHERE A.LESSONASSIGNMENT_ID = C.LESSONASSIGNMENT_ID
         AND B.LESSON_ID = C.LESSON_ID
         AND A.PARENT_ID = D.PARENT_ID
         AND A.STUDENT_ID = D.STUDENT_ID
         AND A.PARENT_ID = #{parentId}
         <if test="studentId!=null and !studentId.equals('')">
         AND D.STUDENT_ID = #{studentId}
		</if>
		ORDER BY PAYMENT_DATE DESC
    </select> 
    
    
    	<!-- <select id="selectPayment" parameterType="str" resultMap="paymentMap">
       SELECT D.STUDENT_NAME
             ,B.LESSON_NAME
             ,B.LESSON_PRICE
             ,D.STUDENT_ID
             ,C.LESSONASSIGNMENT_ID
        FROM PARENT A, LESSON B, LESSONASSIGNMENT C, STUDENT D, TAKE_LESSON E
       WHERE B.LESSON_ID = C.LESSON_ID
         AND A.PARENT_ID = D.PARENT_ID
         AND C.LESSONASSIGNMENT_ID = E.LESSONASSIGNMENT_ID
         AND D.STUDENT_ID = E.STUDENT_ID
          AND A.PARENT_ID = #{parentId}
         <if test="studentId!=null and !studentId.equals('')">
         AND D.STUDENT_ID = #{studentId}
		</if>
    </select> -->
    
    
    <select id="selectPayment" parameterType="str" resultMap="paymentMap">
      SELECT D.STUDENT_NAME
             ,B.LESSON_NAME
             ,A.PAYMENT_DATE
             ,A.PAYMENT_DUEDATE
             ,B.LESSON_PRICE
             ,A.PAYMENT_MONTHS
             ,A.STUDENT_ID
             ,C.LESSONASSIGNMENT_ID
        FROM PAYMENT A,LESSON B, LESSONASSIGNMENT C, STUDENT D
       WHERE A.LESSONASSIGNMENT_ID = C.LESSONASSIGNMENT_ID
         AND B.LESSON_ID = C.LESSON_ID
         AND A.PARENT_ID = D.PARENT_ID
         AND A.STUDENT_ID = D.STUDENT_ID
         AND A.PARENT_ID = #{parentId}
         <if test="studentId!=null and !studentId.equals('')">
         AND D.STUDENT_ID = #{studentId}
         </if>
         AND A.PAYMENT_ID IN (SELECT PAYMENT_ID
                                  FROM (SELECT PAYMENT_ID
                                              ,LESSONASSIGNMENT_ID
                                              ,STUDENT_ID
                                              ,PAYMENT_DATE
                                              ,DENSE_RANK() OVER (PARTITION BY STUDENT_ID,LESSONASSIGNMENT_ID ORDER BY PAYMENT_DATE DESC) AS RANK
                                          FROM PAYMENT
                                         ORDER BY PAYMENT_DATE DESC)
                                 WHERE RANK = 1)
       
                                 
UNION

    SELECT D.STUDENT_NAME
             ,B.LESSON_NAME
             ,NULL AS PAYMENT_DATE
             ,NULL AS PAYMENT_DUEDATE
             ,B.LESSON_PRICE
             ,NULL AS PAYMENT_MONTHS
             ,D.STUDENT_ID
             ,C.LESSONASSIGNMENT_ID
        FROM PARENT A, LESSON B, LESSONASSIGNMENT C, STUDENT D, TAKE_LESSON E
       WHERE B.LESSON_ID = C.LESSON_ID
         AND A.PARENT_ID = D.PARENT_ID
         AND C.LESSONASSIGNMENT_ID = E.LESSONASSIGNMENT_ID
         AND D.STUDENT_ID = E.STUDENT_ID
         <if test="studentId!=null and !studentId.equals('')">
         AND D.STUDENT_ID = #{studentId}
         </if>
         AND (D.STUDENT_ID,C.LESSONASSIGNMENT_ID) IN (SELECT D.STUDENT_ID
                                                             ,E.LESSONASSIGNMENT_ID
                                                        FROM STUDENT D, TAKE_LESSON E
                                                       WHERE D.STUDENT_ID = E.STUDENT_ID
                                                         AND D.PARENT_ID = #{parentId}
                                                      MINUS
                                                      SELECT STUDENT_ID
                                                            ,LESSONASSIGNMENT_ID
                                                        FROM (SELECT PAYMENT_ID
                                                                    ,LESSONASSIGNMENT_ID
                                                                    ,STUDENT_ID
                                                                    ,PAYMENT_DATE
                                                                    ,DENSE_RANK() OVER (PARTITION BY STUDENT_ID,LESSONASSIGNMENT_ID ORDER BY PAYMENT_DATE DESC) AS RANK
                                                               FROM PAYMENT
                                                              ORDER BY PAYMENT_DATE DESC)
                                                        WHERE RANK = 1)
        
    </select>
    
    
    
    
    
    
    
    
    
    
   	<update id="insertPayment" parameterType="payment">
   	INSERT INTO PAYMENT(PAYMENT_ID,PAYMENT_PRICE,PAYMENT_DATE,PARENT_ID,LESSONASSIGNMENT_ID,PAYMENT_DUEDATE,PAYMENT_MONTHS,STUDENT_ID)
 	VALUES(#{paymentId},#{paymentPrice},sysdate,#{parentId},#{lessonassignmentId},#{paymentDuedate},#{paymentMonths},#{studentId})
<!-- 	VALUES(#{paymentId},#{paymentPrice},sysdate,#{parentId},#{lessonassignmentId},#{paymentDuedate},#{paymentMonths},#{studentId}) -->
	</update>
   
   
   
   
   
   
</mapper>