<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="School-Mapper">
	
	<resultMap type="school" id="schoolMap">
		<result property="schoolId" column="SCHOOL_ID"/>
		<result property="schoolName" column="SCHOOL_NAME"/>
		<result property="schoolURL" column="SCHOOL_URL"/>
		<result property="schoolAddress" column="SCHOOL_ADDRESS"/>
		<result property="schoolType" column="SCHOOL_TYPE"/>
		<result property="schoolGrade" column="SCHOOL_GRADE"/>
		<result property="schoolGender" column="SCHOOL_GENDER"/>
		<result property="schoolNum" column="SCHOOL_NUM"/>
		<result property="schoolDong" column="SCHOOL_DONG"/>
	</resultMap>
	
	
	<sql id="keyword">
		<if test="keyword != null">
			and (SCHOOL_NAME like '%'||#{keyword}||'%'
			or SCHOOL_ID like '%'||#{keyword}||'%'
			or SCHOOL_URL like '%'||#{keyword}||'%'
			or SCHOOL_ADDRESS like '%'||#{keyword}||'%'
			or SCHOOL_TYPE like '%'||#{keyword}||'%'
			or SCHOOL_GRADE like '%'||#{keyword}||'%'
			or SCHOOL_GENDER like '%'||#{keyword}||'%')
		</if>	
	</sql>
	
	<select id="selectSimpleSchoolList" resultMap="schoolMap">
		SELECT *
		  FROM SCHOOL
	</select>
	
	<select id="selectschool" parameterType="str" resultMap="schoolMap">
		SELECT *
		  FROM school
		  where SCHOOL_ID is not null
		  <include refid="keyword"/>
		order by SCHOOL_ID desc
	</select>
	
	<insert id="insertSchool" parameterType="java.util.Map">
 			
	  
		  <foreach collection="schoolVOList" index="index" item="item2" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
		  		
				INTO SCHOOL(SCHOOL_ID, 
							SCHOOL_NAME, 
							SCHOOL_URL,
						    SCHOOL_ADDRESS, 
						    SCHOOL_TYPE, 
						    SCHOOL_GRADE, 
						    SCHOOL_GENDER,
						    SCHOOL_NUM,
						    SCHOOL_DONG)
				VALUES (SCHOOL_SEQ.nextval+#{index}, 
							#{item2.schoolName}, 
							#{item2.schoolURL}, 
							#{item2.schoolAddress}, 
							#{item2.schoolType},
							#{item2.schoolGrade},
							#{item2.schoolGender},
							'무',
							'무')
		  </foreach>
	  
	</insert>
	
	<update id="deleteSchool" parameterType="java.util.Map">
 		
 			delete from school
 			where SCHOOL_ID in 
		<foreach collection="schoolVOList" index="index" item="item2" open="(" close=")"  separator=",">
 			#{item2.schoolId}
 		</foreach>
 			
 	</update>
 	
 	
 	<update id="updateSchool" parameterType="java.util.Map">
 			
	  
		  <foreach collection="schoolVOList" index="index" item="item2" separator=";" open="DECLARE BEGIN" close="; END;">
		  		
				UPDATE SCHOOL 
				SET
				      SCHOOL_NAME = #{item2.schoolName}, 
					  SCHOOL_URL = #{item2.schoolURL},
			    	  SCHOOL_ADDRESS = #{item2.schoolAddress}, 
			    	  SCHOOL_TYPE = #{item2.schoolType}, 
			    	  SCHOOL_GRADE = #{item2.schoolGrade},  
			   	 	  SCHOOL_GENDER = #{item2.schoolGender},
			    	  SCHOOL_NUM ='무',
			    	  SCHOOL_DONG = '무'
			 
				WHERE
					SCHOOL_ID = #{item2.schoolId}
			  	  

		   </foreach>
	  
	</update>
	
	
</mapper>
